
@font-face { 
    font-family: footletra; 
    src: url(../fonts/Kanit/Kanit-LightItalic.ttf);}

@font-face { 
    font-family: letraparrafo; 
    src: url(../fonts/Kanit/Kanit-Light.ttf);}


@font-face { 
    font-family: letratitulo1; 
    src: url(../fonts/Kanit/Kanit-ExtraBoldItalic.ttf);}

@font-face { 
    font-family: letrasubt; 
    src: url(../fonts/Kanit/Kanit-Italic.ttf);}

@keyframes aparecer {
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }
      


* {box-sizing: border-box;}

nav {  
    background-color: rgb(48, 77, 109); 
    border-radius: 15px; 
    color: burlywood} 

footer { 
    background-color:rgb(48 ,77,109); 
    border-radius: 15px;} 

body { 
    border-radius: 15px; 
    background-color:rgb(205, 209, 196);} 


.colorna {color: rgb(205, 209, 196);} 


.h1t {
    background-color: rgb(48, 77, 109); 
    text-align: center; 
    color: rgb(205, 209, 196); 
    border-radius: 15px; 
    font-family: letratitulo1; 
    width: 200px;} 

.h2subt {  
    text-align: center; 
    font-family: letrasubt; 
    font-size: 30px; 
    color: rgb(48 ,77,109 );  
    border: solid 2px rgb(48 ,77,109 );} 

.pricet {font-size: 18px;}

.grid{ 
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    width: 100%; 
    gap: 1em; 
    
}

.grid2{ 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.marcs { 
    text-align: center; 
    font-family: letrasubt; 
    font-size: 25px; color: rgb(48 ,77,109);  
    border: solid 2px rgb(48 ,77,109);}


.lefoot {font-family: letraparrafo;}  


.contenid {font-family: letraparrafo;}


.bodyf { 
    font-family: letraparrafo; 
    margin: 0 auto; 
    border: solid 2px;    
    height: 400px;
    width: 300px;}

.imagenestienda {width: 250px;} 

.bannerPic {
    height: 300px;
    width: 1330px; 
    border-radius: 15px;} 

.banner {
        height: 300px;
        width: 1320px; 
        border-radius: 15px;} 

.logo {
    height: 100px; 
    margin-right : 35px;
    margin-top: 9px; 
    margin-left: -25px; 
    margin-bottom: 1px;}

.ordenNav {
        display: grid; 
        grid-template-columns: repeat(6, 1fr);
        align-items: center; 
        gap: 2em; 
        width: 95%;  
        font-size: 30px; 
        font-family: letratitulo1;}

.ordenfoot {
    display: -webkit-inline-box; 
    width: 50%; 
    font-family: footletra;}

.tipefoot {list-style-type: circle;}

.nosotrosima {width: 450px;}

.decoracion {text-decoration: none;}

.tipepreg {list-style-type:georgian}

.card__image {
    width: 98%; 
    margin-left: 1%; 
    margin-right: 1%;}

.card {
    width: 19%;
    background-color: lightgray; 
    display: inline-block;
    padding: 1px 1px 1px 1px ; 
    margin-top: 1%;
    height: 450px; 
    overflow: auto; 
    border: solid 2px rgb(48 ,77,109 );}

.btn {
    color: rgb(48 ,77,109 ); 
    font-family: letraparrafo;
    font-size: 15px;}

.respuesta {font-size: 18px;}

#vinculo { 
    color: black; 
    font-family: letraparrafo;
    font-size: 20px;}

.divtras2 {
        
        transition: all 2s; 
      }
      
.divtras2:hover {
      
        transform: scale(1.2) translate(50px, 0px);
 
      
      }


      
      
.anime3 { 
        animation-name: aparecer;
        animation-duration: 3s;
        
      }


.divtras {
        height: 100px;
        width: 200px;
        transition: width 1s; 
       
       
      }
      
.divtras:hover {
        width: 220px;
      }

.divtras3 {
        height: 50px;
        width: 400px;
        transition:  width 1s; 
       
       
      }
      
.divtras3:hover {

        width: 420px;
      }

.divtras4 {
        height: 50px;
        width: 630px;
        transition: width 1s; 
       
       
      }
      
.divtras4:hover {

        width: 650px;
      } 

.bordix {
  background-color: rgb(48 ,77,109 );
  padding: 0.5em;
}

.bordix:hover {
    border: 2px solid rgb(205, 209, 196);
}

.imgno {
        max-width: 100%; 
        margin-bottom: 0.3em; 
        display: block;
        outline: 2px solid rgb(0, 0, 0);
        outline-offset: -6px;
        border-radius: 15px;                      
     }
     
.galery {
       
         columns: 3 320px;
         column-gap: 0.3em;
     }

.orden {
        display: grid; 
        grid-template-columns: repeat(6, 1fr);
        align-items: center; 
        gap: 2em; 
        width: 95%;  
        font-size: 25px; 
        font-family: letratitulo1;}

.listn {
            list-style: none;
        }
        