@media screen and (max-width:380px) {
 
    .bodyfRes { 
        font-family: letraparrafo; 
        margin: 0 auto;
        border: solid 2px;    
        height: 500px;
        width: 380px;}

    .bannerPic4 {
        margin-left: -2px;
        height: 200px; 
        width: 370px; 
        margin-bottom: 10px;
        

    }
    

  
    
    }