#vinculo { 
    color: black; 
    font-family: letraparrafo;
    font-size: 20px;}

.respuesta {font-size: 18px;}


@media screen and (max-width:380px)  {
   
    * {
        margin-left: 5px;
    }

    .bannerPic3 { 
        margin-left: -2px;
        height: 200px; 
        width: 370px; 
        margin-bottom: 10px;

    }

    ul {
        margin-left: -33px;
    }
    
    
    .marcs6 {
        margin-left: -5px; 
        text-align: center; 
        width: 350px;
        height: 60px;
        font-family: letrasubt; 
        font-size: 20px; color: rgb(48 ,77,109);  
        border: solid 2px rgb(48 ,77,109);}
    
    
    .marcs1 {
        margin-left: -5px; 
        text-align: center; 
        width: 350px;
        height: 60px;
        font-family: letrasubt; 
        font-size: 20px; color: rgb(48 ,77,109);  
        border: solid 2px rgb(48 ,77,109);}
    
    .marcs2 {
            margin-left: -5px; 
            text-align: center; 
            width: 350px;
            height: 37px;
            font-family: letrasubt; 
            font-size: 20px; color: rgb(48 ,77,109);  
            border: solid 2px rgb(48 ,77,109);}
    
    



}